<section class='index-page'>
  <p>Please authorize before using this site</p>

  <a class='loginBtn loginBtn--google' href='http://localhost:8000/auth/google'>
    Login with Google
  </a>
</section>